@use "../abstracts" as *;

.input-wrapper {
  display: flex;
  padding: 2rem 0 3.5rem 0;
  border-bottom: 1px solid $grey-200;
  position: relative;
  align-items: center;
  justify-content: center;

  div {
    display: inherit;
    gap: 1rem;
    max-width: 300px;
  }

  .input {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .error-message {
      color: $red-400;
      font-size: 0.5rem;
    }

    label {
      font-size: 0.8rem;
      letter-spacing: 4px;
      color: $grey-500;
    }

    &:has(input.invalid-input) label {
      color: $red-400;
    }

    input {
      padding: 0.6rem;
      border-radius: 5px;
      border: 1px solid $grey-200;
      width: 100%;
      caret-color: $purple-500;
      font-weight: 700;

      &:active,
      &:focus {
        border: 1px solid $purple-500;
        outline: none;
      }

      &::placeholder {
        font-weight: 700;
      }

      &.invalid-input {
        border-color: $red-400;
      }
    }
  }
}
